@import "reset.css";

:root {
  /* time value for card flip animation */
  --time: 0.505s;
  --card-width: 80vw;
  --card-height: 80vh;
  --card-border: 3px;
  --card-padding: 1.5rem;

  /* rgb values */
  --color-cordovan: 152, 68, 71; /* 984447 */
  --color-uranianblue: 173, 217, 244; /* ADD9F4 */
  --color-queenblue: 71, 108, 155; /* 476C9B */
  --color-steelteal: 70, 140, 152; /* 468C98 */
  --color-richblack: 16, 20, 25; /* 101419 */
  --color-onyx: 49, 54, 56; /* 313638 */
}

* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: relative;
  vertical-align: middle;
}

::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  background-color: rgb(var(--color-richblack));
}

main {
  display: grid;
  grid-gap: 4rem;
  justify-content: center;
  margin-top: 5vh;
}

#flashcardWrap, #card, .cardWrap, .side {
  height: var(--card-height);
  width: var(--card-width);
}

#card {
  perspective: 350rem;
}

.cardWrap {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform var(--time);
  -moz-transition: transform var(--time);
  transition: transform var(--time);
}

#card.flip .cardWrap {
  transform: rotateY(180deg);
}

.side {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--card-border) solid rgb(var(--color-steelteal));
  border-radius: 1rem;
  padding: var(--card-padding);
}
/*
.front {
  background-color: rgb(var(--color-onyx));
}
*/
img {
  --card-edge: calc((var(--card-border) * 2) + (var(--card-padding) * 2));
  max-height: calc(var(--card-height) - var(--card-edge));
  max-width: calc(var(--card-width) - var(--card-edge));
  box-shadow: 0px 0px 6px 2px rgb(var(--color-onyx));
}

.back {
  transform: rotateY(180deg);
  font-size: 3rem;
  line-height: 2;
  color: rgb(var(--color-steelteal));
}

#buttonWrap {
  height: 10vh;
  width: var(--card-width);
  text-align: center;
}

button {
  background: rgb(var(--color-richblack));
  border: 3px solid rgb(var(--color-steelteal));
  border-radius: 0.5rem;
  color: rgb(var(--color-steelteal));
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

button:active {
  background: rgb(var(--color-steelteal));
  color: rgb(var(--color-richblack));
}
