@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Jost&family=Nova+Mono&display=swap');

:root {
  /* time value for card flip animation */
  --time: 0.505s;

  --card-border: 2px;
  --card-padding: 1.5rem;
  --card-edge: calc((var(--card-border) * 2) + (var(--card-padding) * 2));
  --font-prop: 'Cinzel', serif;
  --font-val: 'Jost', sans-serif;
  --font-button: 'Nova Mono', monospace;

  /* rgb values */
  --color-richblack: 16, 20, 25; /* 101419 */
  --color-blackshadows: 213, 197, 200; /* d5c5c8 */
  --color-quicksilver: 157, 163, 164; /* 9da3a4 */
}

@media (orientation: portrait) {
  :root {
    --card-width: 90vw;
    --card-height: 80vh;
  }
}

@media (orientation: landscape) {
  :root {
    --card-width: 80vw;
    --card-height: 90vh;
  }
}

* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: relative;
  vertical-align: middle;
}

::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  background-color: rgb(var(--color-quicksilver));
}

main {
  background-color: rgba(var(--color-richblack), 0.92);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
    gap: 3vh;
  }
}

@media (orientation: landscape) {
  main {
    flex-direction: row;
    gap: 2vw;
  }
}

#flashcardWrap, #card, .cardWrap, .side, .imgWrap, .cardImg {
  height: var(--card-height);
  width: var(--card-width);
}

#card {
  border-radius: 1rem;
  perspective: 350rem;
}

.cardWrap {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform var(--time);
  -moz-transition: transform var(--time);
  transition: transform var(--time);
}

@media (orientation: portrait) {
  #card.flip .cardWrap {
    transform: rotateY(180deg);
  }
}

@media (orientation: landscape) {
  #card.flip .cardWrap {
    transform: rotateX(180deg);
  }
}

.side {
  background-color: rgb(var(--color-richblack));
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: var(--card-border) solid rgba(var(--color-quicksilver), 0.4);
  border-radius: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: x proximity;
}

.side::-webkit-scrollbar {
  display: none;
}

.imgWrap {
  --n: 1;
  display: flex;
}

.cardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--card-height);
  min-width: var(--card-width);
  padding: var(--card-padding);
}

img {
  max-height: calc(var(--card-height) - var(--card-edge));
  max-width: calc(var(--card-width) - var(--card-edge));
  box-shadow: 0px 0px 6px 2px rgb(var(--color-quicksilver));
  pointer-events: none;
}

.back {
  color: rgb(var(--color-blackshadows));
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 4rem;
  align-content: center;
  align-items: center;
  padding: var(--card-padding);
}

@media (orientation: portrait) {
  .back {
    transform: rotateY(180deg);
  }
}

@media (orientation: landscape) {
  .back {
    transform: rotateX(180deg);
  }
}

.plantProp {
  text-align: right;
  font-family: var(--font-prop);
  font-size: 1.6rem;
  text-transform: uppercase;
}

.plantValue {
  font-family: var(--font-val);
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.5;
}

.noteProp {
  font-size: 1.4rem;
}

.noteVal {
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
}

#buttonWrap {
  text-align: center;
}

button {
  background-color: inherit;
  border: 2px solid rgba(var(--color-quicksilver), 0.4);
  border-radius: 0.5rem;
  color: rgba(var(--color-quicksilver), 0.4);
  padding: 0.25rem 1.5rem;
  font-family: var(--font-button);
  font-size: 2.5rem;
}

button:active {
  background-color: rgba(var(--color-quicksilver), 0.4);
  border-color: rgba(var(--color-quicksilver), 0);
  color: rgb(var(--color-richblack));
}
