@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Jost&family=Major+Mono+Display&family=Nova+Mono&display=swap');


@media (orientation: portrait) {
  :root {
    --height-content: 85vh;
    --width-content: 90vw;
  }
}

@media (orientation: landscape) {
  :root {
    --height-content: 90vh;
    --width-content: 85vw;
  }
}

:root {
  /* pivot animation */
  --time: 0.505s;

  /* rgb values */
  --color-richblack: 16, 20, 25; /* 101419 */
  --color-blackshadows: 213, 197, 200; /* d5c5c8 */
  --color-quicksilver: 157, 163, 164; /* 9da3a4 */

  /* google fonts */
  --font-prop: 'Cinzel', serif;
  --font-val: 'Jost', sans-serif;
  --font-button: 'Major Mono Display', monospace;

  /* fixed dimensions */
  --border-content: 2px;
  --padding-content: 6px;
  --edge-content: calc((var(--border-content) + var(--padding-content)) * 2);
  --cardHeight: calc(var(--height-content) - var(--edge-content));
  --cardWidth: calc(var(--width-content) - var(--edge-content));

}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  background-color: rgb(var(--color-quicksilver));
}

main {
  background-color: rgba(var(--color-richblack), 0.92);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
    gap: 2vh;
  }
}

@media (orientation: landscape) {
  main {
    flex-direction: row;
    gap: 2vw;
  }
}

.content, .content > .outerWrap, .content > .outerWrap > .innerWrap, .side {
  height: var(--height-content);
  width: var(--width-content);
}

.outerWrap {
  perspective: 350rem;
}

.content > .outerWrap > .innerWrap {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform var(--time);
  -moz-transition: transform var(--time);
  transition: transform var(--time);
}

@media (orientation: portrait) {
  .content > .outerWrap.pivot > .innerWrap {
    transform: rotateY(180deg);
  }
}

@media (orientation: landscape) {
  .content > .outerWrap.pivot > .innerWrap {
    transform: rotateX(180deg);
  }
}

.side {
  background-color: rgb(var(--color-richblack));
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: var(--border-content) solid rgba(var(--color-quicksilver), 0.4);
  border-radius: 0.8rem;
}

.front {
  padding: var(--padding-content);
}

.panelFrame {
  width: var(--cardWidth);
  height: var(--cardHeight);
  max-width: var(--cardWidth);
  max-height: var(--cardHeight);
}

.panelWrap {
  display: flex;
  gap: calc(var(--padding-content) * 2);
}

@media (orientation: portrait) {
  .panelFrame {
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  .panelWrap {
    flex-direction: row;
  }
}

@media (orientation: landscape) {
  .panelFrame {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }
  .panelWrap {
    flex-direction: column;
  }
}

.panel {
  min-width: var(--cardWidth);
  min-height: var(--cardHeight);
  max-width: var(--cardWidth);
  max-height: var(--cardHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.pane {
  height: auto;
  width: auto;
  max-width: var(--cardWidth);
  max-height: var(--cardHeight);
}


@media (orientation: portrait) {
  .back {
    transform: rotateY(180deg);
  }
}

@media (orientation: landscape) {
  .back {
    transform: rotateX(180deg);
  }
}

.infoWrap {
  color: rgb(var(--color-blackshadows));
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 3vw;
  align-content: center;
  align-items: center;
  height: var(--height-content);
  width: var(--width-content);
  padding: 2.5rem;
}

.infoProp {
  text-align: right;
  font-family: var(--font-prop);
  font-size: 1.6rem;
  text-transform: uppercase;
}

.infoValue {
  font-family: var(--font-val);
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.5;
}

.noteProp {
  font-size: 1.4rem;
}

.noteVal {
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
}

.controls > .outerWrap > .innerWrap {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (orientation: portrait) {
  .controls > .outerWrap > .innerWrap {
    flex-direction: row;
    width: var(--cardWidth);
    height: auto;
  }
}

@media (orientation: landscape) {
  .controls > .outerWrap > .innerWrap {
    flex-direction: column;
    width: auto;
    height: var(--cardHeight);
  }
}

.iterate {
  background-color: inherit;
  border: 2px solid rgba(var(--color-quicksilver), 0);
  border-radius: 0.5rem;
  color: rgb(var(--color-richblack));
  padding: 0.25rem;
  height: 5rem;
  aspect-ratio: 1;
}

.iterate > svg {
  height: 100%;
  width: 100%;
}

.iterate:active {
  border-color: rgba(var(--color-quicksilver), 0.4);
  color: rgba(var(--color-quicksilver), 0.4);
}
