@import "reset.css";

@media (orientation: portrait) {
  :root {
    --height-content: 85vh;
    --width-content: 90vw;
  }
}

@media (orientation: landscape) {
  :root {
    --height-content: 90vh;
    --width-content: 85vw;
  }
}

:root {
  /* pivot animation */
  --time: 0.505s;

  /* rgb values */
  --color-redpigment: 237, 28, 36;
  --color-babypowder: 253, 255, 252;
  --color-bdazzledblue: 35, 87, 137;
  --color-safetyyellow: 241, 211, 2;
  --color-black: 2, 1, 0;

  /* fixed dimensions */
  --border-content: 2px;
  --padding-content: 6px;
  --edge-content: calc((var(--border-content) + var(--padding-content)) * 2);
  --cardHeight: calc(var(--height-content) - var(--edge-content));
  --cardWidth: calc(var(--width-content) - var(--edge-content));

}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

main {
  background-color: rgba(var(--color-black), 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
    gap: 3vh;
  }
}

@media (orientation: landscape) {
  main {
    flex-direction: row;
    gap: 3vw;
  }
}

.content, .outerWrap, .innerWrap, .side {
  height: var(--height-content);
  width: var(--width-content);
}

.outerWrap {
  perspective: 350rem;
}

.innerWrap {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform var(--time);
  -moz-transition: transform var(--time);
  transition: transform var(--time);
}

@media (orientation: portrait) {
  .outerWrap.pivot .innerWrap {
    transform: rotateY(180deg);
  }
}

@media (orientation: landscape) {
  .outerWrap.pivot .innerWrap {
    transform: rotateX(180deg);
  }
}

.side {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: var(--border-content) solid rgb(var(--color-babypowder));
}

#front {
  background-color: rgb(var(--color-bdazzledblue));
  padding: var(--padding-content);
}

#frontFrame {
  width: var(--cardWidth);
  height: var(--cardHeight);
  max-width: var(--cardWidth);
  max-height: var(--cardHeight);
  background-color: rgb(var(--color-safetyyellow));
}

#cardWrap {
  display: flex;
}

@media (orientation: portrait) {
  #frontFrame {
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  #cardWrap {
    flex-direction: row;
  }
}

@media (orientation: landscape) {
  #frontFrame {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }
  #cardWrap {
    flex-direction: column;
  }
}

.cardFrame {
  min-width: var(--cardWidth);
  min-height: var(--cardHeight);
  max-width: var(--cardWidth);
  max-height: var(--cardHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(var(--color-black));
  border: 2px solid rgb(var(--color-redpigment));
  scroll-snap-align: center;
}

.card {
  max-width: var(--cardWidth);
  max-height: var(--cardHeight);
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  color: rgb(var(--color-babypowder));
}

#back {
  background-color: rgb(var(--color-redpigment));
}

@media (orientation: portrait) {
  #back {
    transform: rotateY(180deg);
  }
}

@media (orientation: landscape) {
  #back {
    transform: rotateX(180deg);
  }
}
